.input-wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  gap: 4px;
  color: var(--color-grey-600);
}

.input-wrapper input {
  padding: 0.5rem;

  background: var(--color-background-content);
  border: 1px solid var(--color-border);
  border-radius: 0.6rem;

  color: var(--color-text);
}

.input-wrapper input:focus {
  border-color: 1px solid var(--color-brand-200);
  box-shadow: 0 0 0 1px var(--color-brand-200);
}

.input-wrapper label {
  font-size: 12px;
  color: var(--color-text)
}

.input-chk {
  flex-direction: row;
}

.input-wrapper.input-chk {
  flex-direction: row;
  gap: 1rem;
}