button {
  padding: 0.5rem;
  border-radius: 0.5rem;

  transition: all 0.1s ease;

  color: var(--color-grey-600);

  background: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.primary-btn {
  background-color: var(--color-brand-100);
  border: none;
}

.secondary-btn {
  color: var(--color-text);
  border: 1px solid var(--color-border);
  background-color: var(--color-background-content);
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}