:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  max-width: 600px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.form-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.dtg {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.dtg-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.dtg-items {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.dtg-item {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.column-1 {
  width: 40%;
}

.column-2 {
  width: 30%;
}

.column-3 {
  width: 20%;
}