<main>
  <div class="buttons-wrap">
    <button class="primary-btn">Tela inicial</button>
    <button class="primary-btn">Contribuintes</button>
    <button class="primary-btn">Propósitos</button>
  </div>
  <form [formGroup]="entryForm" class="entry-form">
    <div class="flex">
      <app-primary-input
        formControlName="contributorId"
        inputName="contributorId"
        type="text"
        label="Contribuinte"
        list="contributors-list"
      />
      <datalist name="" id="contributors-list">
        @for (contributor of contributorsList; track contributor.id) {
          <option>{{ contributor.name }}</option>
        } @empty {
          <option value="Lista vazia">Lista vazia</option>
        }
      </datalist>
      <app-primary-input
        formControlName="purposeId"
        inputName="purposeId"
        type="text"
        label="Propósito"
        list="purposes-list"
      />
      <datalist name="" id="purposes-list">
        @for (purpose of purposesList; track purpose.id) {
          <option>{{ purpose.name }}</option>
        } @empty {
          <option value="Lista vazia"></option>
        }
      </datalist>
    </div>
    <div class="flex">
      <app-primary-input formControlName="sumValue" inputName="sumValue" type="text" label="Soma" />
      <button class="primary-btn">+</button>
    </div>
    <app-primary-input
      formControlName="totalValue"
      inputName="totalValue"
      type="text"
      label="Total"
    />
    <app-primary-input formControlName="date" inputName="date" type="text" label="Data" />
    <button (click)="submit()" class="primary-btn">Adicionar entrada</button>
  </form>
</main>
