main {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(rgba(18, 16, 15, 0.85),
      rgba(18, 16, 15, 0.85)),
    url("../../assets/Library.jpg");
  color: var(--color-grey-600);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem 4rem;
  border-radius: 0.5rem;

  background: var(--color-brand-400);
  border: 1px solid var(--color-brand-200);
}

.primary-section {
  justify-content: center;
}

.title {
  margin-bottom: 1rem;
}

.secondary-section {
  font-weight: 300;
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-top: 1rem;
  gap: 0.5rem;
}

.button-wrapper button {
  width: 100%;
}

label {
  font-size: 10px;
}

.quote-wrapper {
  margin-top: 3rem;
  font-size: 10px;
  color: #8E837E;
}
