main {
  max-width: 600px;
  width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.form-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.dtg {
  width: 100%;

  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}